/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  --ifm-hero-background-color: var(--ifm-font-color-base-inverse);
  --ifm-hero-text-color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: inline-flex;
  margin: .25rem .125rem;
}

.fontBlack {
  color: var(--ifm-font-color-base);
}

.heroTitle {
  font-size: 3rem;
  color: var(--ifm-font-color-base);
}
